<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./home.css">
</head>

<body>
    <p>navbar</p>
    <div class="calander">
        <h2> 달력 </h2>
    </div>


    <div class='homecontent'>
        <div class='cal'>
            <h2 class='title2'> 날짜</h2>

            <div class='cal-notification'>
                <h2 class='title2'>일정 알림</h2>
                <p class='cal-time'>일정 시간</p>
            </div>

        </div>

        <div class="mylog">
            <h2 class='title2'>내 일지</h2>
            <li class='myloglist'>이모티콘<br> 제목 내용</li>
            <li class='myloglist'>이모티콘<br> 제목 내용</li>
            <li class='myloglist'>이모티콘<br> 제목 내용</li>
        </div>
    </div>

    <button style=border:0 class='logcreate-button'>로그 작성</button>


</body>

</html>


<!--MENU-->
<h4>스포틀리</h4>
<a href="{%url 'home' %}">
    <h3>HOME</h3>
</a>
<a href="{%url 'home' %}">
    <h3>MY LOG</h3>
</a>
<a href="{%url 'home' %}">
    <h3>MY TEAM</h3>
</a>
<a href="{%url 'home' %}">
    <h3>JOIN</h3>
</a>
<a href="{%url 'home' %}">
    <h3>로그인</h3>
</a>