body{
    margin: 0px;
    text-align: center;
    background-color: rgb(241, 241, 241);
}

.calander{
    background-color: rgb(255, 255, 255);
    width: 80%;
    border-radius: 10px;
    margin: 0 auto;
    max-width: 400px;
    padding: 10px;
    margin-bottom: 20px;
    box-shadow:rgba(0, 0, 0, 0.3) 0 1px 3px;
    min-width: 300px;
}
.homecontent{
    background-color: rgb(226, 226, 226);
    width: 80%;
    border-radius: 10px;
    margin: 0 auto;
    max-width: 400px;
    padding: 10px;
    box-shadow:rgba(0, 0, 0, 0.3) 0 1px 3px;
    min-width: 300px;
}

.title2{
    font-size: 15px;
}
.cal{
    text-align: left;
    width: 80%;
    max-width: 300px;
    margin: 0 auto;
    padding: 10px;
}

.mylog{
    text-align: left;
    width: 80%;
    max-width: 300px;
    margin: 0 auto;
}

.myloglist{
    background-color: white;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow:rgba(0, 0, 0, 0.3) 0 1px 3px;


}

.cal-notification{
    background-color: white;
    margin: 0 auto;
    padding: 10px;
    border-radius: 5px;

}

.cal-time{
    text-align: right;
    color: gray;
    margin-bottom: 0px;
    font-size: 10px;
}

.logcreate-button{
    width: 10%;
    height: 30px;
    color: white;
    background-color: #524FFF;
    font-size: 15px;
    border-radius: 5px;
    margin-top: 40px;
    font-weight: 600;
    min-width: 100px;
    box-shadow:rgba(0, 0, 0, 0.3) 0 1px 3px;
}

/* section calendar */

.sec_cal {
    width: 360px;
    margin: 0 auto;
}

.sec_cal .cal_nav {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 48px;
    line-height: 78px;
}

.sec_cal .cal_nav .year-month {
    width: 300px;
    text-align: center;
    line-height: 1;
    font-size: 20px;
}

.sec_cal .cal_nav .nav {
    display: flex;
    border: 1px solid #333333;
    border-radius: 5px;
}

.sec_cal .cal_nav .go-prev,
.sec_cal .cal_nav .go-next {
    display: block;
    width: 50px;
    height: 78px;
    font-size: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec_cal .cal_nav .go-prev::before,
.sec_cal .cal_nav .go-next::before {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border: 5px solid #524FFF;
    border-width: 3px 3px 0 0;
    transition: border 0.1s;
}

.sec_cal .cal_nav .go-prev:hover::before,
.sec_cal .cal_nav .go-next:hover::before {
    border-color: #ed2a61;
}

.sec_cal .cal_nav .go-prev::before {
    transform: rotate(-135deg);
}

.sec_cal .cal_nav .go-next::before {
    transform: rotate(45deg);
}

.sec_cal .cal_wrap {
    padding-top: 40px;
    position: relative;
    margin: 0 auto;
}

.sec_cal .cal_wrap .days {
    display: flex;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
}

.sec_cal .cal_wrap::after {
    top: 368px;
}

.sec_cal .cal_wrap .day {
    display:flex;
    align-items: center;
    justify-content: center;
    width: calc(100% / 7);
    text-align: left;
    color: #999;
    font-size: 12px;
    text-align: center;
    border-radius:5px
}

.current.today {background: rgb(242 242 242);}

.sec_cal .cal_wrap .dates {
    display: flex;
    flex-flow: wrap;
    height: 290px;
}

.sec_cal .cal_wrap .day:nth-child(7n -1) {
    color: #3c6ffa;
}

.sec_cal .cal_wrap .day:nth-child(7n) {
    color: #ed2a61;
}

.sec_cal .cal_wrap .day.disable {
    color: #ddd;
}

