<!DOCTYPE html>
<html lang="ko">



<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./home.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src='./home.js'></script>

</head>

<body>
    
    <p>navbar</p>
    <div class="calander">
        <div class="sec_cal">
            <div class="cal_nav">
                <a href="javascript:;" class="nav-btn go-prev">prev</a>
                <div class="year-month"></div>
                <a href="javascript:;" class="nav-btn go-next">next</a>
            </div>
            <div class="cal_wrap">
                <div class="days">
                    <div class="day">월</div>
                    <div class="day">화</div>
                    <div class="day">수</div>
                    <div class="day">목</div>
                    <div class="day">금</div>
                    <div class="day">토</div>
                    <div class="day">일</div>
                </div>
                <div class="dates"></div>
            </div>
        </div>
    </div>


    <div class='homecontent'>
        <div class='cal'>
            <h2 class='title2'> 날짜</h2>

            <div class='cal-notification'>
                <h2 class='title2'>일정 알림</h2>
                <p class='cal-time'>일정 시간</p>
            </div>

        </div>

        <div class="mylog">
            <h2 class='title2'>내 일지</h2>
            <li class='myloglist'>이모티콘<br> 제목 내용</li>
            <li class='myloglist'>이모티콘<br> 제목 내용</li>
            <li class='myloglist'>이모티콘<br> 제목 내용</li>
        </div>
    </div>

    <button style=border:0 class='logcreate-button'>로그 작성</button>


</body>

</html>


<!--MENU-->
<h4>스포틀리</h4>
<a href="{%url 'home' %}">
    <h3>HOME</h3>
</a>
<a href="{%url 'mylog_list' %}">
    <h3>MY LOG</h3>
</a>
<a href="{%url 'myteam_notice' %}">
    <h3>MY TEAM</h3>
</a>
<a href="{%url 'joinall' %}">
    <h3>JOIN</h3>
</a>

{% if user.is_authenticated %}
안녕하세요, {{ user.username }}님!<br>
<a href="{%url 'logout' %}">로그아웃</a>
{% else %}
아직 로그인이 되지 않았어요.
<br>
<a href="{%url 'login' %}">로그인</a>
{% endif %}
