
<!--내 로그 자세히 보기. 로그 목록에서 하나 클릭시
하나의 로그를 자세히 띄움. 댓글을 작성 및 확인 가능-->
{% extends 'realbase.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}<title>my log 자세히 보기</title>{% endblock title %}
    {% block css %}<link rel="stylesheet" href="{% static 'css/mylog_detail.css' %}?after">{% endblock css %}

</head>
<body>
    {% block content %}
    
    <div class="logbasicupper">
        <h3 class="emoji">{{mylog_detail.mood}}</h3>
        <h1>{{mylog_detail.writer}}</h1>
        <h3>{{mylog_detail.log_date2}}</h3>
    </div>
    <hr>
    
    <div class="logbasiccontent">
        <h4>&#128293; 배운 점 &#128293;</h4>
        <h5>{{mylog_detail.learned}}</h5>
        <h4>&#128293; 부족한 점 &#128293;</h4>
        <h5>{{mylog_detail.lacked}}</h5>
        <h4>&#128293; 개선할 점 &#128293;</h4>
        <h5>{{mylog_detail.improve}}</h5>
        <br>
        
        {% if mylog_detail.photo %}
            <h4>&#128293; 사진 &#128293;</h4>
            <img src="{{mylog_detail.photo.url}}" alt="" width="90%">
        {% endif %}
        
        {% if mylog_detail.video %}
            <h4>&#128293; 비디오 &#128293;</h4>
            <video src="{{mylog_detail.video.url}}"  width="90%"></video>   
        {% endif %}

    </div>

    <!--댓글 목록들-->
    <div class="comment-part">
        <h4 style="padding-bottom: 20px;">&#128171; 댓글 &#128171;</h4>
        {% for comment in mylog_detail.comment_set.all %}
        <div class="onecomment">
            <p class="each-writer">&#128173; {{comment.writer}}</p>
            <p class="each-comment">{{comment.comment}} </p>
        </div>
        {% endfor %}
    </div>
    
    
    <div class="mylog_comments">
        <h4>나의 댓글 작성</h4>
        <form method="POST" action="{% url 'create_comment' mylog_detail.id %}"> 
            {% csrf_token %}
            {{comment_form.comment}}
            <!--<input id="input1" type="text">-->
            <input id="input2" type ="submit" class="add-comment" value="댓글 추가">
        </form>
    </div>



    {% endblock content %}
</body>
</html>