<!--my log를 작성하는 페이지-->

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/mylog_create.css">
    <title>로그 작성 일지</title>
</head>
<body>
    <input type ="date" id="currentDate">
    <script>
        document.getElementById('currentDate').value = new Date().toISOString().substring(0,10);;
    </script>

    <h1>오늘의 운동 만족도는 어떠셨나요?</h1>
    <ul class="feeling-list">
        <li class="emojifeeling">&#128545;</li>
        <li class="emojifeeling">&#128533;</li>
        <li class="emojifeeling">&#128528;</li>
        <li class="emojifeeling">&#128578;</li>
        <li class="emojifeeling">&#128540;</li>
    </ul>
    <script>
        var feelingnumber; //feelingnumber 라는 변수 = 0,1,2,3,4 순서대로 만족도 높아짐!!! -> mylog에서 기록 저장시 함께 저장
        document.querySelectorAll('.feeling-list')[0].addEventListener("click", function(e) {
            if(e.target.dataset.id != null) {
                feelingnumber = e.target.dataset.id;
                // console.log(feelingnumber);
                // 추가사항: 선택한 이모티콘의 사이즈가 40px로 커지도록!!
                // document.querySelectorAll(".emojifeeling")[feelingnumber].style.fontSize = "40px";
            }
        });
    </script>

    <div class="page-background">
        <form action="#" method="post">
            <div>
                <label for="learned" class="title1">배운 점</label>
                <br>
                <input type="text" name="learned" class="writing-can" id="learned" rows="4">
                <!--js: 글자 줄 수 만큼 칸 늘어나게 하는 기능 추가해야함!-->
            </div>
            <div>
                <label for="lacked" class="title1">부족한 점</label>
                <br>
                <input type="text" name="lacked" class="writing-can" id="lacked" rows="4">
            </div>
            <div>
                <label for="improve" class="title1">개선할 점</label>
                <br>
                <input type="text" name="improve" class="writing-can" id="improve" rows="4">
            </div>
        </form>

        <!--사진/동영상 업로드-->
        <h2>사진/비디오 추가</h2>
        <div class="img-upload">
            <label for="img-file"><div>+</div></label>
            <input type="file" id="img-file" accept="image/*,video/mp4, video/mkv, video/x-m4v,video/*" multiple>
            <!--업로드한 사진 미리보기 기능 추가해야함 !-->
        </div>

            
        <!--업로드한 비디오 미리보기 기능-->
        <video id="video-play"></video>
        <script>
            const inputFile = document.getElementById("img-file");
            const video = document.getElementById("video-play");

            inputFile.addEventListener("change", function(){
                const file = inputFile.files[0];
                const videourl = URL.createObjectURL(file);
                video.setAttribute("src", videourl);
                video.play();
            });
        </script>

        <input type="button" class="mylogcreate-button" value="등록하기">
    </div>
</body>
</html>