<!--내 로그 자세히 보기. 로그 목록에서 하나 클릭시
하나의 로그를 자세히 띄움. 댓글을 작성 및 확인 가능-->
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>my log 자세히 보기</title>
    <link rel="stylesheet" href="css/mylog_detail.css">
</head>
<body>
    <div class="up-basic-info">
        <img class="myprofileimg" src="#"> <!--사용자가 등록한 프로필 사진-->
        <h1>지연우</h1> <!--innerHTML 텍스트 : 작성자 이름-->
        <h3>2022.07.24</h3> <!--작성 날짜: #currentdate에서 입력받은 날짜-->
    </div>

    <div class="mylog-content">
        <h2>배운 점</h2>
        <h4>이런것들을 배웠습니다.</h4> <!--innerHTML 텍스트 : 사용자가 등록한 배운점-->
        <h2>부족한 점</h2>
        <h4>이런것들이 부족합니다.</h4> <!--innerHTML 텍스트 : 사용자가 등록한 부족한점-->
        <h2>개선할 점</h2>
        <h4>이런것들을 개선해야 합니다.</h4> <!--innerHTML 텍스트 : 사용자가 등록한 개선할점-->
    </div>


</body>
</html>