.body{
    margin: 0px;
}

.team {
  background-color: white;
  margin: 10px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
  width: 100px;
  height: 100px;
}
.joinpw {
  background-color: white;
  margin-top: 100px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
  width: 70%;
  max-width: 200px;
  height: 200px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  margin-top: 200px;

}
.team-list {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.title {
  margin-left: 10px;
  margin-top: 20px;
  margin-bottom: -5px;
}

button {
  width: 10%;
  height: 30px;
  color: white;
  background-color: #524fff;
  font-size: 15px;
  border-radius: 5px;
  margin-top: 20px;
  font-weight: 600;
  min-width: 100px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
}

.input-pw {
  margin: 0 auto;
  border-radius: 5px;
  background-color: rgb(230, 230, 230);
  width: 100px;
  height: 20px;
}

.teaminfo{
    padding-top: 20px;
    margin-bottom: 70px;
}