<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./join.css">
    <title>Document</title>
</head>

<body>
    <p>nav bar</p>
    <br>

    <h3 class="title">인기 팀</h3>
    <div class="team-list">
        <div class='team'>
            팀 사진 팀 이름 팀장 이름 등
            <button style=border:0>가입하기</button>
        </div>
        <div class='team'>
            팀 사진 팀 이름 팀장 이름 등
            <button style=border:0>가입하기</button>
        </div>
        <div class='team'>
            팀 사진 팀 이름 팀장 이름 등
            <button style=border:0>가입하기</button>
        </div>
        <div class='team'>
            팀 사진 팀 이름 팀장 이름 등
            <button style=border:0>가입하기</button>
        </div>
    </div>


    <h3 class="title">최신 등록 팀</h3>
    <div class="team-list">
        <div class='team'>
            팀 사진 팀 이름 팀장이름 등
            <button style=border:0>가입하기</button>
        </div>
        <div class='team'>
            팀 사진 팀 이름 팀장 이름 등
            <button style=border:0>가입하기</button>
        </div>
        <div class='team'>
            팀 사진 팀 이름 팀장 이름 등
            <button style=border:0>가입하기</button>
        </div>
        <div class='team'>
            팀 사진 팀 이름 팀장 이름 등
            <button style=border:0>가입하기</button>
        </div>

    </div>

</body>

</html>

<a href="{%url 'joinpw' %}">
    <h3>가입신청</h3>
</a>