<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./reallogsign.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Gugi&family=Jua&family=Nanum+Gothic&display=swap');
    </style>
</head>

<body>
    <div class='main'>
        <form action="{%url 'login' %}" method="POST">
            {%csrf_token%}
            <h1 class='title'>스포틀리</h1>
            <br>
            <input type='text' style=border:0 class='login-input' name="username" placeholder="아이디 입력"><br>
            <input type="password" style=border:0 class='login-input' name="password" placeholder="비밀번호 입력">
            <br>
            <button type="submit" value="login" style=border:0 class='login-button'> 로그인 </button>
        </form>
        <br>
        <a href="signup" class='bottom-text'>회원가입 하기
    </div>
    </div>
</body>

</html>