{% extends 'realbase.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block css %}<link rel="stylesheet" href="{% static 'reallogsign.css' %}?after" type="text/css" media="all">{% endblock css %}
    {% block title %}<title>login</title>{% endblock title %}
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Gugi&family=Jua&family=Nanum+Gothic&display=swap');
    </style>
</head>

<body>
    {% block content %}
    <div class='main'>
        
        <form method="POST" action="{% url 'login' %}">
            {% csrf_token %}
            <h1 class = 'title'>스포틀리</h1>
            <br>
            <input type="text" name="username" style="border:0" class='login-input' placeholder="아이디입력">
            <br>
            <input type="text" name="password" style="border:0" class='login-input' placeholder="비밀번호입력">
            <br>
            <button type="submit" value="로그인" style="border:0" class="login-button">로그인</button>
        
        </form>
        <br>

        <a href="{% url 'signup' %}" class = 'bottom-text'>회원가입</a>
    </div>
    </div>
    {% endblock content %}
</body>

</html>