

{% extends 'realbase.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block css %}<link rel="stylesheet" href="{% static 'reallogsign.css' %}?after"type = "text/css"media="all">{% endblock css %}
    {% block title %}<title>signup</title>{% endblock title %}
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Gugi&family=Jua&family=Nanum+Gothic&display=swap');
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>

<body class = 'main'>
    {% block content %}
    <form action="" method="POST">
        {% csrf_token %}
        <h1 class='title'>스포틀리</h1>
            <br>
        <div class="form-group">
            <h3>닉네임</h3>
            
            <input type="text"   placeholder="닉네임 입력" name="last_name" style=border:0 class='login-input' id="username">
        </div>
        <div class="form-group">
            <h3>아이디</h3>
            
            <input type="text" placeholder="아이디 입력" name="username" style=border:0 class='login-input' id="user_id">
        </div>

        <div class="form-group">
            <h3>비밀번호</h3>
            
            <input type="password" placeholder="비밀번호 입력" name="password" style=border:0 class='login-input' id="password">
        </div>

        <div class="form-group">
            <h3>비밀번호 확인</h3>
            
            <input type="password"  placeholder="비밀번호 확인" name="confirm" style=border:0 class='login-input' id="re_password" >
        </div>

        <div class="form-group">
            <h3>이메일</h3>
            
            <input type="email"  placeholder="이메일" name="email" style=border:0 class='login-input' id="email" >
        </div>

        <button type="submit" style=border:0 class='login-button' value="signup">회원가입</button>

    </form>       
    {% endblock content %}
</body>

</html>

