<!--메뉴바에서 my team을 클릭하면 """가장 먼저""" 이동하는 페이지.
피그마의 'MyTeam:공지' 페이지이다.-->
{% extends 'realbase.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}<title>My team</title>{% endblock title %}
    {% block css%}
    <link rel="stylesheet" href="{% static 'css/myteams.css' %}?after"> {% endblock css%}
</head>

<body>
    {% block content %}
    
    <div class="teammenus">
        <a href="{% url 'myteam_notice' %}" class="teammenu-btn">공지사항</a><br>
        <a href="{% url 'myteam_log' %}" class="teammenu-btn">팀 로그</a><br>
        <a href="{% url 'myteam_tactic' %}" class="teammenu-btn">팀 전술</a><br>
        <br>
    </div>

    <br>
    {% for post in posts %}

    <div class='contents'>
        
        {% if post.writer.last_name %}
        <p>작성자</p> <br> <h5>{{ post.writer.last_name}}</h5>
        {% else %}
        <!--만약 last_name이 null이면 익명으로 표시하기.-->
        <p>작성자: 익명 </p>
        {% endif %}
        <p class = 'title'>{{post.title}}</p><br>
        <p class = 'date'>{{post.date}}</p><br>
        <p class ='check'>확인 체크 : {{post.count}}</p><br>
        <p class ='check'>분류 : {{post.tag}}</p><br>

        {% if post.tag == '일반' or post.tag == '긴급'%}
        
        <div class = 'realcontent'>{{post.contents}}</div>
        <br>
        <p class = 'title2'>사진</p> <br>
        {% if post.photo %}
        <img src="{{post.photo.url}}" alt=""><br>
        {% endif %}
        <p class = 'title2'>비디오</p><br>
        {% if post.video %}
        <video src="{{post.video.url}}" width="1000px" height="700px"></video>
        
        
        {% endif %}
        {% endif %}

        {% if post.tag == '훈련' %}
        훈련 날짜 : {{post.datetime}}<br>
        훈련 장소 : {{post.location}}<br>
        사진 :<br>
        {% if post.photo %}
        <img src="{{post.photo.url}}" alt="" width="300px" height="220px"><br>
        {% endif %}
        비디오 :<br>
        {% if post.video %}
        <video src="{{post.video.url}}" width="300px" height="220px"></video> <br>
        {% endif %}
        {% endif%}

        
        </div>
    {% endfor %}

    
    <div class = 'btndiv'>
        <a href="{% url 'noticemodelformcreate' %}" class = 'bottombtn'>공지사항 추가하기</a>
    </div>

    {% endblock content %}
</body>

</html>