<!--
    피그마의 'Myteam:팀 전술' 페이지
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Myteam:전술 페이지
    <a href="{% url 'myteam_notice' %}">공지사항</a><br>
    <a href="{% url 'myteam_log' %}">팀 로그</a><br>
    <a href="{% url 'myteam_tactic' %}">팀 전술</a><br>
    <br>
    <a href="{% url 'tactic_create' %}">전술 추가</a>
</body>
</html>