<!--myteam.tactic.html에서 전술 추가를 클릭하면 나오는 페이지
피그마의 'Myteam:전술추가'페이지-->
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action=" " method="POST" enctype="multipart/form-data">
        <!--이 방식은 <form> 요소가 파일이나 이미지를 서버로 전송할 때 주로 사용함 위에 enctype-->
            {%csrf_token%}
        <table>
            {{form.as_table}}
            <!--위에 form말고 form.as_table로 쓰면 자동으로 table에 감싸진 것처럼 나온다.-->
            <!--.as_p로 쓰면 자동으로 <p>에 감싸진 것처럼 나온다.-->
            <!--.as_ul로 쓰면 자동으로 <ul>에 감싸진 것처럼 나온다.-->
        </table>
        <input type="submit" value="등록하기">
        </form>
</body>
</html>