<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="base.css">
    <style>
        body {
            margin: 0;
        }
    </style>
</head>
<body>
    <nav>
        <div class="burger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
        <script src="burger.js"></script>
    </nav>

    <!-- {% block mycontent %} -->

    <!-- {% endblock %} -->
    
</body>
</html>